<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.de.thirdtask.TransactionAnnotationBeanPostProcessor"/>
    <bean class="com.de.thirdtask.BenchmarkAnnotationBeanPostProcessor"/>
    <bean class="com.de.thirdtask.TrademarkAnnotationBeanPostProcessor"/>

    <bean name="unit" class="com.de.thirdtask.UnitImpl"/>

</beans>